<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <p style="color:red; text-align:center;"   ><mark><%= msg %></mark></p>
  </div>
<% end %>
<div class="Book index">
  <h2>Book Collection</h2>

  <%= link_to("Add New Subject", new_book_path, :class => 'action new') %>

  <table class="listing" summary="Book list">
    <tr class="header">
      <th>Title</th>
      <th>Genre</th>
      <th>Author</th>
      <th>Actions</th>
    </tr>
    <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td class="center"><%= book.genre %></td>
      <td class="center">   <%= book.author %></td>
      <td class="actions">
        <%= link_to("Show", book_path(book), :class => 'action show') %>
        <%= link_to("Edit", edit_book_path(book), :class => 'action edit') %>
        <%= link_to("Delete", delete_book_path(book), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>